.background {

  display: none;
  /* background-color: #212529; */
  background-image: url(https://cdn.discordapp.com/attachments/1052910824865402892/1115627315737673798/Mappa.jpg);
}


.title {
  position: absolute;
  display: none;
  color: #343A40;
  margin-left: 800px;
  width: 400px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.boxkaros {
  display: none;
  position: absolute;
  float: left;
  background-color: #343A40;
  box-shadow: 1px 1px 5px 1px #222222;
  color: white;
  font-family: monospace;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  font-size: 7px;
  text-align: center;
  margin-top: 310px;
  margin-left: 998px;
}


.boxkaros2 {
  display: none;
  position: absolute;
  float: left;
  background-color: #343A40;
  box-shadow: 1px 1px 5px 1px #222222;
  color: white;
  font-family: monospace;
  text-align: center;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  font-size: 7px;
  
  margin-top: 670px;
  margin-left: 896px; /* Aggiunge un margine tra i box */
}

.boxkaros3 {
  display: none;
  position: absolute;
  float: left;
  background-color: #343A40;
  box-shadow: 1px 1px 5px 1px #222222;
  color: white;
  font-family: monospace;
  text-align: center;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  font-size: 7px;
  
  margin-top: 780px;
  margin-left: 700px; /* Aggiunge un margine tra i box */
}

.boxkaros4 {
  display: none;
  position: absolute;
  float: left;
  background-color: #343A40;
  box-shadow: 1px 1px 5px 1px #222222;
  color: white;
  font-family: monospace;
  text-align: center;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  font-size: 7px;
  
  margin-top: 150px;
  margin-left: 850px; /* Aggiunge un margine tra i box */
}


.sandy img {
  background-image: url();
  margin-top: 16%;
  margin-left: -1px;
  width: 130px;
  animation: Krs 2s ease 0s 1 normal forwards;
}

.police img {
  margin-top: 19%;
  margin-left: -1px;
  width: 130px;
  animation: Krs 2s ease 0s 1 normal forwards;
}

.airport img {
  margin-top: 16%;
  margin-left: -1px;
  width: 130px;
  animation: Krs 2s ease 0s 1 normal forwards;
}

.paleto img {
  margin-top: 16%;
  margin-left: -1px;
  width: 110px;
  animation: Krs 2s ease 0s 1 normal forwards;
}

* {
  transition: all 0.4s;
}

.boxkaros:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.boxkaros2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.boxkaros3:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.boxkaros4:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Animazione */
@keyframes Krs {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}


